{
    "parserOptions": {
      "ecmaVersion": "2018",
      "sourceType": "module"
    },
    "extends": [
      "eslint:recommended"
    ],
    "rules": {
      "no-console": "off"
    },
    "env": {
        "browser": true,
        "es6": true
    }
  }