{
    "parserOptions": {
      "ecmaVersion": "2018",
      "sourceType": "module"
    },
    "extends": "airbnb-base",
    "rules": {
        "import/prefer-default-export": 0,
        "indent": ["error", 4],
        "no-empty": ["error", { "allowEmptyCatch": true }]
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": {
            "globals": true
        }
    }
}
