##################################################
# General
##################################################
*~
.#*
\#*
.tox
.eggs/
build/
*.pyc
*.pyo
*.egg
*.egg-info
node_modules/
.vscode
.idea

##################################################
# ImmortalDB
##################################################
# HtmlWebpackPlugin's generated testing/test.html and *.LICENSE.txt.
dist/index.html
dist/*.LICENSE.txt
